@use "../utils/" as *;

header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 0px 20px;
  @media screen and (min-width: 768px) {
    max-width: 1240px;
    margin: 0 auto;
  }
  .logo {
    width: 125px;
    height: 37px;@media screen and (min-width: 320px) {
      width: 145px;
      height: 47px;
    }

    @media screen and (min-width: 768px) {
      width: 210px;
      height: 68px;
    }
  }
  nav {
    display: flex;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      @media screen and (min-width: 768px) {
        gap: 57px;
      }
      a {
        font-size: 10px;
        text-transform: uppercase;
        color: $mainColor;
        @media screen and (min-width: 320px) {
          font-size: 12px;
          text-transform: none;
        }
        @media screen and (min-width: 768px) {
          font-size: 24px;
          text-transform: none;
        }
      }
    }
    .active-link {
        text-decoration: underline;
    }
  }
}
