.slideShow {
    width: 100%;
    height: 111px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    @media screen and (min-width:767px) {
        height: 350px;
        border-radius: 25px;
    }
    button {
        background-color: green;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }
}