.about {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    @media screen and (min-width:767px) {
        max-width: 1240px;
        margin: 0 auto;
    }
    .banner {
        width: 100%;
    height: 223px;
    }
}