@use '../utils/' as *;

.lodging {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    padding: 20px;
    @media screen and (min-width: 767px) {
      max-width: 1240px;
      width: 100%;
      margin: 0 auto;
      gap: 30px;
    }
    .otherInfo {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      margin-bottom: 16px;
      gap: 20px;
      @media screen and (min-width:767px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 34px;
        margin-bottom: 34px;
        gap: 76px;
      }
    }
    
}
  